In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../files/survey_results_public.csv')

In [3]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [4]:
df["Country"]

0                   Germany
1            United Kingdom
2        Russian Federation
3                   Albania
4             United States
                ...
64456         United States
64457               Morocco
64458              Viet Nam
64459                Poland
64460                 Spain
Name: Country, Length: 64461, dtype: object

In [5]:
df["Age"].value_counts()

Age
25.0    2693
28.0    2412
30.0    2406
26.0    2391
27.0    2338
        ...
88.0       1
16.5       1
23.4       1
95.0       1
14.5       1
Name: count, Length: 110, dtype: int64

In [6]:
df.loc[0]

Respondent                                                  1
MainBranch                     I am a developer by profession
Hobbyist                                                  Yes
Age                                                       NaN
Age1stCode                                                 13
                                       ...
WebframeWorkedWith                       ASP.NET;ASP.NET Core
WelcomeChange         Just as welcome now as I felt last year
WorkWeekHrs                                              50.0
YearsCode                                                  36
YearsCodePro                                               27
Name: 0, Length: 61, dtype: object

In [7]:
df.iloc[0]

Respondent                                                  1
MainBranch                     I am a developer by profession
Hobbyist                                                  Yes
Age                                                       NaN
Age1stCode                                                 13
                                       ...
WebframeWorkedWith                       ASP.NET;ASP.NET Core
WelcomeChange         Just as welcome now as I felt last year
WorkWeekHrs                                              50.0
YearsCode                                                  36
YearsCodePro                                               27
Name: 0, Length: 61, dtype: object

In [9]:
df.loc[[0, 1, 2], ["Country", "Age"]]

              Country  Age
0             Germany  NaN
1      United Kingdom  NaN
2  Russian Federation  NaN

In [10]:
df.loc[10:20, "Age":"Country"]

     Age Age1stCode CompFreq  CompTotal  ConvertedComp         Country
10  23.0         13   Yearly    31000.0        40070.0  United Kingdom
11  49.0         42  Monthly     1100.0        14268.0           Spain
12  53.0         14  Monthly     3000.0        38916.0     Netherlands
13  27.0         13   Yearly    66000.0        66000.0   United States
14   NaN         13      NaN        NaN            NaN          France
15  45.0          8  Monthly     7000.0       108576.0  United Kingdom
16  25.0         14   Yearly    79000.0        79000.0   United States
17  32.0         12  Monthly   105000.0      1260000.0   United States
18  24.0         15   Yearly    83400.0        83400.0   United States
19  40.0         18      NaN        NaN            NaN           Spain
20  23.0         16      NaN        NaN            NaN         Belgium